*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90px;

}
.header {
    display: flex;
}
.header img {
    margin: 10px 50px;
    width: 1400px;
    height: 700px;
}
.ciy h1{
 margin: 0 0 0 650px;
  font-size: 70px;
}