*{
   margin: 0px;
   padding: 0px;

}
body{
    background:  rgb(255, 0, 0);
}
.container{
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
     
}
a{
    text-decoration: none;
}
.header-1 a{
margin: 0 0 0 400px;
color: rgb(253, 215, 0);
font-size: 100px;

}
.header-2{
   width: 1500px; 
   height:10px;
   background-color: gold;
}
.header-3 img {
    margin: 0 0 0 20px;
    width: 1000px;
    border-radius: 40px;
}
.header-3 {
  text-align: center;
}
.header-3 h1{
    margin: 10px 0;
color: aliceblue;
}
.header-3 p{
    margin: 10px 0;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
   }
.header-4{
    margin: 100px 50px;
}
.header-4 img {
    margin: 0 0 0 210px;
    width: 1000px;
    border-radius: 40px;
   }
   .header-4 h1{
    font-size: 50px;
     text-align: center;
    color: aliceblue;
   }
   .header-4 p{
    margin: 10px 0;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
   }